{% extends "layout.html" %}
{% block body %}
  <h2>Write a Comment</h2>
  <p>You must be logged in</p>
  <p>Will be posted with user name not your email</p>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('login') }}" method=post>
    <dl>
      <dt>webservice (URL): <input type=text name=url value={{url}}> <br>
      <dt>Comment:
      <dd><textarea rows="4" cols="50"></textarea>
      <dd><input type=submit value=Login>
    </dl>
  </form>
{% endblock %}
