{% extends "layout.html" %}
{% block body %}
  <h2>Make a Report</h2>
  <p>You must be logged in</p>
  <p>Will be posted with user name not your email</p>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('report') }}" method=post>
    <dl>
      <dt>webservice (URL): <input type=text name=url value={{url}}> <br>
      <input type="radio" name="type" value="slow" checked> Slow<br>
      <input type="radio" name="type" value="error"> Error<br>
      <input type="radio" name="type" value="down"> Down<br>
      <dt>Commentary:
      <dd><textarea rows="4" cols="50"></textarea>
      <dd><input type=submit value=Submit>
    </dl>
  </form>
{% endblock %}
