{% extends "layout.html" %}
{% block body %}
  <h3>File a Report about {{url}}</h3>
  <div><a href="/report/{{url}}">File a Report</a></div>
  <div><a href="/comment/{{url}}">Comment or ask a question</a></div>
  <div>
    {% for annoucement in annoucements %}
    <div>
    <div>{{announcement.text}}</div>
    <div>{{announcement.username}}</div>
    <div>{{announcement.time}}</div>
    </div>
    {% endfor %}
  </div>
  <div>
    {% for comment in comments %}
    <div>
    <div>{{comment.text}}</div>
    <div>{{comment.username}}</div>
    <div>{{comment.time}}</div>
    </div>
    {% endfor %}
  </div>
  <div>
    {% for report in reports %}
    <div>
    <div>{{report.type}}</div>
    <div>{{report.username}}</div>
    <div>{{report.text}}</div>
    <div>{{report.time}}</div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
