{% extends "layout.html" %}
{% block body %}
  <div><h2>{{name}} @ {{url}}</h2></div>
  <div><a href="/report/{{url}}">File a Report</a></div>
  <div><a href="/comment/{{url}}">Comment or ask a question</a></div>
  <h3>Announcement Info</h3>
  <div style="overflow-y: scroll; max-height:150px; max-width: 300px; background-color: rgb(200,200,50)">
    {% for announcement in announcements %}
    <div>
    <div>Announcement: {{announcement.text}}</div>
    <div>Time: {{announcement.time}}</div>
    </div>
    <hr>
    {% endfor %}
  </div>
  <h3>Comment Info</h3>
  <div style="overflow-y: scroll; max-height:300px; max-width: 300px; background-color: rgb(70,200,70)">
    {% for comment in comments %}
    <div>
    <div>Comment: {{comment.text}}</div>
    <div>By: {{comment.username}}</div>
    <div>Time: {{comment.time}}</div>
    </div>
    <hr>
    {% endfor %}
  </div>
  <h3 style=>Report Info</h3>
  <div style="overflow-y: scroll; max-height:300px; max-width: 300px; background-color: rgb(200,100,100)">
    {% for report in reports %}
    <div>
    <div>Report Type: {{report.type}}</div>
    <div>Comments: {{report.text}}</div>
    <div>By: {{report.username}}</div>
    <div>Time: {{report.time}}</div>
    </div>
    <hr>
    {% endfor %}
  </div>
{% endblock %}
