{% extends "layout.html" %}
{% block body %}
  <h3>File a Report about {{url}}</h3>

  <div>
    {% for comment in comments %}
    <div>
    <div>{{comment.text}}</div>
    <div>{{comment.username}}</div>
    <div>{{comment.time}}</div>
    </div>
    {% endfor %}
  </div>
  <div><a href="/report/{{url}}">File a Report</a></div>
  <div><a href="/comment/{{url}}">Comment or ask a question</a></div>
<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>
{% endblock %}
